@charset "UTF-8";


/* Overwrite template */
body, 
.title,
.xlabel,
.ylabel,
.legend,
.xaxis text,
.yaxis text,
.content.text {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

/* New */
.bg-gray-dark {
  background-color: #343a40 !important;
}

/* Overwrite template */
.sb-topnav .navbar-brand {
  width: 190px;
}

/* Overwrite template */
.form-select {
  display: inline;
  width: auto;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgba(0, 0, 0, 0.03);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.xlabel,
.ylabel,
.legend,
.xaxis text,
.yaxis text {
  font-size: 1.3rem;
}
.content.text {
  font-size: 1rem;
}

@media (min-width: 20px) {
  .xlabel,
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 1.3rem;
  }
  .content.text {
    font-size: 1rem;
  }
}
@media (min-width: 576px) {
  .xlabel,
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 1.3rem;
  }
  .content.text {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .xlabel,
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 1.2rem;
  }
  .content.text {
    font-size: 0.9rem;
  }
}
/* No sidebar <=> with sidebar */
@media (min-width: 992px) {
  .xlabel,
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 1.2rem;
  }
  .content.text {
    font-size: 0.9rem;
  }
}
/* 1 col <=> 2 col */
@media (min-width: 1200px) {
  .xlabel,
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 1.3rem;
  }
  .content.text {
    font-size: 1rem;
  }
}
@media (min-width: 1600px) {
  .xlabel,
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 1.3rem;
  }
  .content.text {
    font-size: 1rem;
  }
}

.xaxis line,
.yaxis line {
  stroke: grey;
  stroke-opacity: 0.2;
  shape-rendering: optimizeSpeed;
}

/* Tooltip */

.tooltip {
  opacity: 0;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

#case_counts_latest .tooltip, 
#case_counts_overall .tooltip {
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -50px;
  margin-bottom: -50px;
}

#local_case_per_county_latest .tooltip, 
#local_case_per_county_overall .tooltip {
  margin-left: -75px;
  margin-right: -75px;
  margin-top: -35px;
  margin-bottom: -35px;
}

#case_by_age_latest .tooltip, 
#case_by_age_overall .tooltip {
  margin-left: -75px;
  margin-right: -75px;
  margin-top: -40px;
  margin-bottom: -40px;
}

#incidence_rates_latest .tooltip, 
#incidence_rates_overall .tooltip {
  margin-left: -100px;
  margin-right: -80px;
  margin-top: -50px;
  margin-bottom: -50px;
}

#vaccination_by_brand_latest .tooltip, 
#vaccination_by_brand_overall .tooltip {
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -45px;
  margin-bottom: -45px;
}

#vaccination_progress_latest .tooltip, 
#vaccination_progress_overall .tooltip {
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -45px;
  margin-bottom: -45px;
}

#vaccination_by_dose_latest .tooltip, 
#vaccination_by_dose_overall .tooltip {
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -45px;
  margin-bottom: -45px;
}

#vaccination_by_age_latest .tooltip, 
#vaccination_by_age_overall .tooltip {
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -45px;
  margin-bottom: -45px;
}

#vaccination_by_county_latest .tooltip, 
#vaccination_by_county_overall .tooltip {
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -45px;
  margin-bottom: -45px;
}

#test_counts_latest .tooltip, 
#test_counts_overall .tooltip {
  margin-left: -75px;
  margin-right: -75px;
  margin-top: -55px;
  margin-bottom: -55px;
}

#positivity_and_fatality_latest .tooltip, 
#positivity_and_fatality_overall .tooltip {
  margin-left: -70px;
  margin-right: -70px;
  margin-top: -50px;
  margin-bottom: -50px;
}

#death_counts_latest .tooltip, 
#death_counts_overall .tooltip {
  margin-left: -80px;
  margin-right: -80px;
  margin-top: -45px;
  margin-bottom: -45px;
}

#death_by_age_latest .tooltip, 
#death_by_age_overall .tooltip {
  margin-left: -75px;
  margin-right: -75px;
  margin-top: -45px;
  margin-bottom: -45px;
}

#border_statistics_latest .tooltip, 
#border_statistics_overall .tooltip {
  margin-left: -75px;
  margin-right: -75px;
  margin-top: -50px;
  margin-bottom: -50px;
}

#stats_in_mirror_latest .tooltip, 
#stats_in_mirror_overall .tooltip {
  margin-left: -75px;
  margin-right: -75px;
  margin-top: -50px;
  margin-bottom: -50px;
}

/* Buttons */
.sb-sidenav-menu-heading-nouppercase {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.btn-front {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
}

.btn-pos {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.btn-vignette {
  margin-bottom: 20px;
}

.btn-covid {
  color: #000;
  background-color: rgba(0, 0, 0, 0.03);
  border-color: rgba(0, 0, 0, 0.175);
}
.btn-covid:hover {
  color: #fff;
  background-color: #545b62;
  border-color: #545b62;
}
.btn-covid:focus, .btn-covid.focus {
  color: #fff;
  background-color: #545b62;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-covid.disabled, .btn-covid:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-covid:not(:disabled):not(.disabled):active, .btn-covid:not(:disabled):not(.disabled).active, .show > .btn-covid.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-covid:not(:disabled):not(.disabled):active:focus, .btn-covid:not(:disabled):not(.disabled).active:focus, .show > .btn-covid.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-covid-white {
  color: #aaa;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0.175);
}
.btn-covid-white:hover {
  color: #fff;
  background-color: #545b62;
  border-color: #545b62;
}
.btn-covid-white:focus, .btn-covid-white.focus {
  color: #fff;
  background-color: #545b62;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-covid-white.disabled, .btn-covid-white:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-covid-white:not(:disabled):not(.disabled):active, .btn-covid-white:not(:disabled):not(.disabled).active, .show > .btn-covid-white.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-covid-white:not(:disabled):not(.disabled):active:focus, .btn-covid-white:not(:disabled):not(.disabled).active:focus, .show > .btn-covid-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}


.sb-sidenav .sb-sidenav-footer-covid {
  padding: 0.75rem;
  flex-shrink: 0;
}

.icon {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.icon img {
  width: 32px;
}
