@charset "UTF-8";


body {
/*   font-family: 'Noto Sans TC', sans-serif; */
/*   font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

.ylabel,
.legend,
.xaxis text,
.yaxis text {
/*   font-family: 'Noto Sans TC', sans-serif; */
/*   font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 18px;
}
@media (min-width: 20px) {
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 24px;
  }
}
@media (min-width: 576px) {
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .ylabel,
  .legend,
  .xaxis text,
  .yaxis text {
    font-size: 22px;
  }
}

.xaxis line,
.yaxis line {
  stroke: grey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}



/* Tooltip */

.tooltip {
  opacity: 0;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
#case_by_transmission .tooltip {
  margin-left: -56px;
  margin-right: -56px;
  margin-top: -58px;
  margin-bottom: -58px;
}
#case_by_detection .tooltip {
  margin-left: -50px;
  margin-right: -50px;
  margin-top: -72px;
  margin-bottom: -72px;
}
#test_by_criterion .tooltip {
  margin-left: -55px;
  margin-right: -52px;
  margin-top: -55px;
  margin-bottom: -55px;
}


/* Buttons */

.sb-sidenav-menu-heading-nouppercase {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.btn-pos {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.btn-covid {
  color: #000;
  background-color: rgba(0, 0, 0, 0.03);
  border-color: rgba(0, 0, 0, 0.175);
}
.btn-covid:hover {
  color: #fff;
  background-color: #545b62;
  border-color: #545b62;
}
.btn-covid:focus, .btn-covid.focus {
  color: #fff;
  background-color: #545b62;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-covid.disabled, .btn-covid:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-covid:not(:disabled):not(.disabled):active, .btn-covid:not(:disabled):not(.disabled).active, .show > .btn-covid.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-covid:not(:disabled):not(.disabled):active:focus, .btn-covid:not(:disabled):not(.disabled).active:focus, .show > .btn-covid.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-covid-white {
  color: #aaa;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0.175);
}
.btn-covid-white:hover {
  color: #fff;
  background-color: #545b62;
  border-color: #545b62;
}
.btn-covid-white:focus, .btn-covid-white.focus {
  color: #fff;
  background-color: #545b62;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-covid-white.disabled, .btn-covid-white:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-covid-white:not(:disabled):not(.disabled):active, .btn-covid-white:not(:disabled):not(.disabled).active, .show > .btn-covid-white.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-covid-white:not(:disabled):not(.disabled):active:focus, .btn-covid-white:not(:disabled):not(.disabled).active:focus, .show > .btn-covid-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}


.sb-sidenav .sb-sidenav-footer-covid {
  padding: 0.75rem;
  flex-shrink: 0;
}

.icon {
/*   font-size: 20px; */
/*   color: #fff; */
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.icon img {
  width: 32px;
}
