python/COVID_plot.py
raw_data/COVID-19_in_Taiwan_raw_data_county_age.csv

.kdev4/
COVID_breakdown.kdev4
archives/
data
images
js/archives/
log/
python/__pycache__/
python/covid/__pycache__/
raw_data/*_big5.csv
